*.dart linguist-language=Dart
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.c++ linguist-detectable=false
android/** linguist-vendored
ios/** linguist-vendored
CMakeLists.txt linguist-vendored

